{% extends 'base.html.twig' %}

{% block title %}Hello AdminEventController!{% endblock %}

{% block body %}

<div class="container">
    <h1>All events</h1>

<div><a href="{{ path('admin_events_form') }}">Add new event</a> </div>

    <ul id="events">
        {% for item in events %}
        <li><a href="{{ path('admin_events_details', {'id': item.id } ) }}" >{{ item.name }}</a></li>

        {% endfor %}
    </ul>
</div>
{% endblock %}
